<!-- <div class="container-fluid">
  <div class="row bg-light vh-100">
    <div class="col-md-9 login-img"></div>
    <div class="col-md-3 border-left bg-dark text-light p-3">
        <p class="h3 mt-3"><i class="fa fa-user-circle mr-3" aria-hidden="true"></i><b>Login</b></p>
        <p class="mt-5"><b>Username</b></p>
        <input class="form-control w-75" [(ngModel)]="form.username"><br>
        <p class="mt-4"><b>Password</b></p>
        <input class="form-control w-75" [(ngModel)]="form.password" type="password"><br>
        <div class="alert alert-danger text-danger w-75" *ngIf="notFound === true">User Login Failed</div>    
        <button class="btn btn-danger btn-lg rounded-pill mt-4" (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i>
            Login</button><br><br>
            <a routerLink="/signup"><i class="fa fa-user-plus mr-2" aria-hidden="true"></i>New User Click Here</a>

    </div>
  </div>
</div> -->
