<!-- <div class="container-fluid">
    <div class="row bg-light vh-100">
        <div class="col-md-9 signup-img"></div>
        <div class="col-md-3 border-left bg-dark text-light p-3">
            <p class="h3 mt-3"><i class="fa fa-user-plus mr-3" aria-hidden="true"></i><b>SignUp</b></p>
            <p class="mt-5"><b>Username</b></p>
            <input class="form-control w-75" [(ngModel)]="form.username"><br>
            <p class="mt-4"><b>Password</b></p>
            <input class="form-control w-75" [(ngModel)]="form.password" type="password"><br>
            <div class="alert alert-danger text-danger w-75" *ngIf="invalid === true">Please Fill Some Username & Password Details.</div>
            <button class="btn btn-danger btn-lg rounded-pill mt-4" (click)="funSignup()"><i class="fa fa-plus-square mr-2" aria-hidden="true"></i>Save</button><br><br>
            <a routerLink=""><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Already a user ? click here</a>
        </div>
    </div>
</div> -->